@font-face {
    font-family: 'Comfortaa-Regular';
    src: url("./fonts/Comfortaa-Regular.ttf");
}

@media screen and (min-width: 1414px) {
    .header-container {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .form-box {
        margin-left: 20%;
        margin-right: 20%;
        font-weight: bold;
    }

    body {
        margin-left: 12%;
        margin-right: 12%;
    }

    .colone div {
        padding-right: 0px;
    }

    .first .boxPrincipale {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .first .boxPrincipale img {
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;

    }

    .cards {
        width: 20%;
    }
}

.textGrey {
    color: grey;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 10px;
}

@media screen and (max-width: 1414px) {
    #titreWho { 
  
        position: absolute;
        left: 50%;
        font-size: 35px;
        border-bottom: solid #9A0000 4px;
        padding-bottom: 25px;
        padding-top: 50px;
    }

    .header-container {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .form-box {
        margin-left: 20%;
        margin-right: 20%;
        font-weight: bold;
    }

    body {
        margin-left: 12%;
        margin-right: 12%;
    }

    .colone div {
        padding-right: 0px;
    }

    .first .boxPrincipale img {
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;
    }

    .cards {
        width: 20%;
    }

    .textGrey {
        color: grey;
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 10px;
    }

    .boxPrincipale img {
        width: 35%;
    }


}
@media screen and (max-width: 1259px) {
    .navbar-accueuil {
        position: absolute;
        display: flex;
        flex-direction: row;
        color: white;
        list-style-type: none;
        left: 10px;
    }


}


@media screen and (max-width: 1135px) {
    .header-container {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 98%;
    }

    body {
        margin-left: 0%;
        margin-right: 0%;
    }

    .ourTeam {
        display: flex;
        flex-wrap: wrap;
    }

    .textGrey {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 10px;
    }


}

@media screen and (max-width: 830px) {
.header-container img{
    width: 200px;
    height: auto;
}
    .navbar-accueuil {
width: 00px;
    }
    #titreWho{
        color: white;
    }
    .colone div {
        padding-right: 0px;
    }

    .boxPrincipale img {
        width: 90%;
    }


    .first .boxPrincipale img {
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;
    }


    #titreWho {
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 40px;
        top: 330px;
        width: 300px;
    }


    .first .boxPrincipale img {
        float: none;
        margin-bottom: -150px;
    }

    article .ourEventsCards .cards {
        width: 100%;
    }

    .form-box {
        margin-left: 0px;
        margin-right: 0px;
        font-weight: bold;
    }

}

@media screen and (max-width: 646px) {

    .form-box {
        margin-left: 0px;
        margin-right: 0px;
        font-weight: bold;
    }

    .boxPrincipale img {
        width: 100%;
    }

    .flexTeam img {
        height: 10%;
    }

    .textGrey {
        width: 80%;
    }

    .colone div {
        padding-right: 0px;
    }



    #titreWho {
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 40px;
        top: 180px;
        width: 300px;
        right: 1%;
    }
    .ourEventsHeader img{
        display: none;
    }
}



#titreOurTeam {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: solid #9A0000 4px;
    width: 200px;
    position: relative;
    left: 45%;
}

.ourTeam {
    display: flex;
}


.imageTeam {
    width: 20%;
    border-radius: 200px;
    margin-bottom: 80px;
}

.flexTeam {
    display: flex;
}

.ourTeamRow {
    display: flex;
    flex-direction: column;
}


#rouge {
    margin-left: 10px;
    color: white;
    background-color: #9A0000;
    width: 45px;
    padding: 5px;
}

.ourEventsHeader{
    display: none;
}

/* ___________________________________________________________________ */
@media screen and (max-width: 375px) {
    .textGrey {

        width: 250px;
    }

    .colone div {
        padding-right: 0px;
    }


    #titreWho {
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 40px;
        top: 330px;
        width: 300px;
        right: 10px;
    }
    .ourEventsHeader{
        display: none;
    }
}



#titreOurTeam {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: solid #9A0000 4px;
    width: 200px;
    position: relative;
    left: 45%;
}

.ourTeam {
    display: flex;
}


.imageTeam {
    width: 20%;
    border-radius: 200px;
    margin-bottom: 80px;
}

.flexTeam {
    display: flex;
}

.ourTeamRow {
    display: flex;
    flex-direction: column;
}


#rouge {
    margin-left: 10px;
    color: white;
    background-color: #9A0000;
    width: 45px;
    padding: 5px;
}



html {
    font-family: 'Comfortaa-Regular';
}


.headerContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.headerBackground {
    position: absolute;
    background-image: url(./images/header_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.logo {
    width: 250px;
    height: 200px;
    z-index: 1;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.classFlex div {
    width: 50%;
}

.accueuilEventer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}

.headerNavigation {
    z-index: 1;
}

.navbarAccueuil {
    display: flex;
    color: white;
    list-style-type: none;
    padding-right: 5%;
}

header .accueuilEventer .navbarAccueuil {
    display: flex;
    height: 12%;
    width: 500px;
    margin-top: 10px;
}

header .accueuilEventer .navbarAccueuil li {
    display: flex;
    flex-direction: row;
    color: white;
    margin-right: 10px;
    align-self: flex-end;
    padding-top: 10%;

}
a {
    color: white;
    text-decoration: none;
}


}


#titreWhoSouligne {
    border-bottom: solid #9A0000 4px;
    padding: 15px;
    width: 40px;
}


.first .boxPrincipale {
    display: flex;
    padding: 50px;
    font-size: 20px;
}


#titreWho { 
  
    position: absolute;
    left: 50%;
    font-size: 35px;
    border-bottom: solid #9A0000 4px;
}

.first .boxPrincipale p {

    font-size: medium;
    color: rgb(172, 169, 169);
    margin-top: 80px;
    padding-top: 100px;
}

#titreAgency{
    position: absolute;
    background-color: #9A0000;
    height: 50px;
    margin-top: 10px;
    margin-left: -50px;
    border: solid white;
    color: white;
    width: 180px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}

/* Part 4 - About the events and the informations on them */
/* _____________________________________________LAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
article .ourEventsHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

article .ourEventsHeader img {
    margin-left: 5%;
    margin-right: 5%;
}

article .ourEventsHeader .titreOurEvents {
    border-bottom: #9A0000 2px solid;
    font-size: xx-large;

}

article .ourEventsCards {
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    flex-wrap: wrap;

}

article .ourEventsCards .cards {
    /* width: 200px; */
    margin: 2%;
    box-shadow: 0px 5px 8px grey;


}

article .ourEventsCards .eventType {
    color: whitesmoke;
    background-color: #9A0000;
    text-align: center;
    padding: 5px;
    font-size: large;
}

article .ourEventsCards .eventMonth {
    color: rgb(82, 166, 250);
    text-align: center;
    padding: 5px;
}

article .ourEventsCards .eventDateN {
    color: black;
    text-align: center;
    padding: 5px;
}

article .ourEventsCards .eventName {
    color: black;
    text-align: center;
    padding: 5px;
}

article .ourEventsCards .eventResume {
    color: gray;
    text-align: center;
    padding: 20px;
    text-align: center;
}

/* End of the part 4 */

footer {
    background-image: url(https://raw.githubusercontent.com/AlbeAdamit/Main-eventer/main/images/swirl_pattern.png);
    background-color: whitesmoke;
    background-repeat: repeat;
    text-align: center;
    position: sticky;
}

.footer {
    justify-content: space-between;
    display: inline-block;
    list-style: none;
    align-items: center;
    padding: 0 15px;
}



.grey {
    color: gray;
}


.colone {
    display: flex;
    flex-direction: column;

}

.colone div {
    padding-right: 50px;
    text-align: start;


}

section #boxTeam #coloneBoxTeam div:nth-child(2) {
    display: flex;
    margin-left: 10px;

}

.radius {
    border-radius: 200px;
    width: 100%;
    height: auto;
}

.titreRouge {
    background-color: brown;
    width: 0px;
    height: 17px;
    padding-top: 5px;
    font-size: small;
    color: white;


}

/*Form section*/

.formBox {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}


.formTitleBox {
    display: block;
    width: fit-content;
}

.titleForm {
    display: block;
    width: fit-content;
    align-self: flex-start;
    font-size: 45px;
    text-align: left;
}

.titleForm::after {
    content: '';
    display: block;
    background-color: #9A0000;
    height: 4px;
    width: 90%;
}

.formContent {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.formFields {
    display: flex;
    justify-content: space-between;

}

.nameMail {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.lastName {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
    max-width: 135px;
    max-height: 50;
    padding: 5px;
}

#send {
    border: solid #a00f0f 0.5px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    height: 35px;
    color: #a00f0f;
    background-color: white;
    transition-duration: 0.5s;
    margin-top: 10px;
}

#send:hover {
    background-color: #a00f0f;
    color: white;
}

label {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

label span {
    vertical-align: sub;
}

input[type=text] {
    border: solid #a00f0f 1px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 2px 8px;
    margin-bottom: 25px;
}

input[type=email] {
    border: solid #a00f0f 1px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 2px 8px;
    margin-bottom: 5px;
}

textarea {
    border: solid #a00f0f 1px;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    height: 150px;
    padding: 2px 8px;
}