@font-face {
    font-family: 'Comfortaa-Regular';
    src: url("/fonts/Comfortaa-Regular.ttf");
}

@media screen and (min-width: 1414px) {

    body {
        margin-left: 12%;
        margin-right: 12%;
    }

    .colone div {
        padding-right: 0px;
    }

    .first .boxPrincipale img {
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;
    }
}

article .ourEvents-cards .cards {
    width: 200px;
}

/* ___________________________________________________________________ */
@media screen and (max-width: 1135px) {

    .colone div {
        padding-right: 0px;
    }

    #ourTeam {
        text-align: center;
        flex-wrap: wrap;
    }

    #ourTeam #boxTeam {
        flex-wrap: wrap;
    }

    .first .boxPrincipale img {
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;
    }

}

@media screen and (min-width: 830px) {

    .colone div {
        padding-right: 0px;
    }

    #ourTeam {
        text-align: center;
        flex-wrap: wrap;
    }

    #ourTeam #boxTeam {
        flex-wrap: wrap;
    }

    .first .boxPrincipale img {
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;
    }

}

/* ___________________________________________________________________ */
@media screen and (max-width: 830px) {

    /* #titreWhoSouligne{
        display: none;
    }  */
    #titreWho {
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 40px;
        top: 330px;
        width: 300px;
        right: 10%;
    }

    .first .boxPrincipale img {
        float: none;
        margin-bottom: -150px;
    }
}

/* ___________________________________________________________________ */
@media screen and (max-width: 646px) {

    .colone div {
        padding-right: 0px;
    }

    #ourTeam {
        text-align: center;
        flex-wrap: wrap;

    }

    #ourTeam #boxTeam {
        flex-wrap: wrap;

    }

    article .ourEvents-cards {
        margin-left: 50%;
        margin-right: 50%;
        flex-wrap: wrap;
    }

    article .ourEvents-cards .cards {
        box-shadow: 0px 5px 8px grey;
    }

    .ourEvents-header img {
        display: none;
    }

    article .ourEvents-cards .cards {
        width: 100%;
    }
}

/* ___________________________________________________________________ */
@media screen and (max-width: 375px) {

    .colone div {
        padding-right: 0px;
    }

    #ourTeam {
        text-align: center;
        flex-wrap: wrap;
    }

    #ourTeam #boxTeam {
        flex-wrap: wrap;
    }

    #titreWho {
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 40px;
        top: 330px;
        width: 300px;
        right: 10px;
    }

}

/* ___________________________________________________________________ */

html {
    font-family: 'Comfortaa-Regular';
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header-background {
    position: absolute;
    background-image: url(./images/header_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.logo {
    width: 200px;
    height: 200px;
    z-index: 1;
    justify-content: center;
}
.classFlex div {
    width: 50%;
}

.accueuil-eventer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}
.header-navigation{
    z-index: 1;
}
.navbar-accueuil{
    display: flex;
    color: white;
    list-style-type: none;
}

header .accueuil-Eventer .navbar-Accueuil {
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 100%;
    margin-top: 10px;
    margin-right: 50px;
}

header .accueuil-Eventer .navbar-Accueuil li {
    display: flex;
    flex-direction: row;
    color: white;
    margin-right: 10px;
    align-self: flex-end;
    padding-top: 10%;
}

#titreWho {
    position: absolute;
    margin-top: 30px;
    margin-left: 400px;
    font-size: 40px;
}

#titreWhoSouligne {
    border-bottom: solid #9A0000 4px;
    padding: 15px;
    width: 20px;
}

.first .boxPrincipale {
    display: flex;
    padding: 50px;
    font-size: 20px;
}


.first .boxPrincipale p:nth-child(1) {
    font-size: 38px;
    margin-bottom: 120px;
    margin-top: 70px;
    border-bottom: solid #9A0000;
    border-width: 5px;
    width: 250px;
    position: absolute;
    margin-left: 400px;
    padding-bottom: 15px;
    color: black;
}

.first .boxPrincipale p {
    font-size: medium;
    color: rgb(172, 169, 169);
    margin-top: 180px;
}

.first div:nth-child(1) div:nth-child(1) {
    position: absolute;
    background-color: #9A0000;
    height: 50px;
    margin-top: 10px;
    margin-left: -50px;
    border: solid white;
    color: white;

    width: 180px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}

/* Part 4 - About the events and the informations on them */
/* _____________________________________________LAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
article .ourEvents-header {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

article .ourEvents-header img {
    margin-left: 5%;
    margin-right: 5%;
}

article .ourEvents-header h2 {
    border-bottom: #9A0000 2px solid;
    font-size: xx-large;

}

article .ourEvents-cards {
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    flex-wrap: wrap;

}

article .ourEvents-cards .cards {
    /* width: 200px; */
    margin: 2%;
    box-shadow: 0px 5px 8px grey;


}

article .ourEvents-cards .event-Type {
    color: whitesmoke;
    background-color: #9A0000;
    text-align: center;
    padding: 5px;
    font-size: large;
}

article .ourEvents-cards .event-Month {
    color: rgb(82, 166, 250);
    text-align: center;
    padding: 5px;
}

article .ourEvents-cards .event-DateN {
    color: black;
    text-align: center;
    padding: 5px;
}

article .ourEvents-cards .event-Name {
    color: black;
    text-align: center;
    padding: 5px;
}

article .ourEvents-cards .event-Resume {
    color: gray;
    text-align: center;
    padding: 20px;
    text-align: center;
}

/* End of the part 4 */

footer {
    background-image: url(https://raw.githubusercontent.com/AlbeAdamit/Main-eventer/main/images/swirl_pattern.png);
    background-color: whitesmoke;
    background-repeat: repeat;
    text-align: center;
    position: sticky;
}

.footer {
    justify-content: space-between;
    display: inline-block;
    list-style: none;
    align-items: center;
    padding: 0 15px;
}

#ourTeam {
    text-align: center;

}

#ourTeam span {
    font-size: 45px;
    padding-bottom: 10px;
    border-bottom: solid #9A0000 4px;

}

#ourTeam #boxTeam {
    margin-top: 80px;
    /* margin-left: %;
    margin-right: %;________________________________________LAAAAAAA*/
    display: flex;


}

#ourTeam #boxTeam #coloneboxTeam {
    display: flex;
    flex-direction: column;
}

#ourTeam #boxTeam #coloneboxTeam div:nth-child(1) {
    display: flex;
    margin: 10px;
}

.grey {
    color: gray;
}

.colone {
    display: flex;
    flex-direction: column;

}

.colone div {
    padding-right: 50px;
    text-align: start;


}

section #boxTeam #coloneboxTeam div:nth-child(2) {
    display: flex;
    margin-left: 10px;

}

.radius {
    border-radius: 200px;
    width: 100%;
    height: auto;
}

.titreRouge {
    background-color: brown;
    width: 0px;
    height: 17px;
    padding-top: 5px;
    font-size: small;
    color: white;


}

/*Form section*/

.form-box {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}

.formTitleBox {
    display: block;
    width: fit-content;
}

.titleForm {
    display: block;
    width: fit-content;
    align-self: flex-start;
    font-size: 45px;
    text-align: left;
}

.titleForm::after {
    content: '';
    display: block;
    background-color: #9A0000;
    height: 4px;
    width: 90%;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.form-fields {
    display: flex;
    justify-content: space-between;

}

.name-mail {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.lastname {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.description-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
    max-width: 135px;
    max-height: 50;
    padding: 5px;
}

#send {
    border: solid #a00f0f 0.5px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    height: 30px;
    color: #a00f0f;
    background-color: white;
    transition-duration: 0.5s;
}

#send:hover {
    background-color: #a00f0f;
    color: white;
}

label {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

label span {
    vertical-align: sub;
}

input[type=text] {
    border: solid #a00f0f 1px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

input[type=email] {
    border: solid #a00f0f 1px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    border: solid #a00f0f 1px;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    height: 150px;
}



/* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */