@font-face {
    font-family: 'Comfortaa-Regular';
    src: url("/fonts/Comfortaa-Regular.ttf");
}

html {
    font-family: 'Comfortaa-Regular';
}
section header .boxPrincipale{
    display: flex;
    margin-left: 20%;
    margin-right: 25%;
    font-size: 20px;
}
section header .boxPrincipale img{
    margin: 40px;
    float: left;
}
section header .boxPrincipale h1{
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: red;  
}
section header div:nth-child(1) div:nth-child(1){
    position: absolute;
    background-color: red;
    height: 50px;
    margin-top: 50px;
    border: solid white; 
    color: white;
}

/*Form section*/

.form-box {
    /* max-height: 710px;
    max-width: 740px; */
    margin-left: 20%;
    margin-right: 25%;
    background-color: gold;
}

.form-content {
    background-color: tomato;
    /* width: 350px;
    height: 250px; */

    display: flex;
    flex-direction: column;
    
}

.form-fields {
    background-color: orange;


    display: flex;
    /* justify-content: space-around; */
}

.name-mail {
    background-color: lightskyblue;

    display: flex;
    flex-direction: column;
   
}

.lastname {
    background-color: mediumturquoise;

    display: flex;
    flex-direction: column;
    
}

.box-descriptionButton {
    background-color: orangered;
    
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    
}

.description-button {
    background-color: powderblue;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* margin-left: 10%; */
    width: 80%;
}

 .buttons {
     background-color: purple;
    display: flex;
    justify-content: flex-end;
    max-width: 135px;
    max-height: 50;
}
/*
#send {
    background-color: white;
    border: #af0102;
} */
